/* global css */

* {
  padding: 0px;
  margin: 0px;
}

html { height: 100%; }





/* custom options */

.Montserrat {
  font-family: Montserrat;
}

.headerTextColor a {
  text-decoration: none;
}

a {
  text-decoration: none;
}

.ReenieBeanie {
  font-family: "Reenie Beanie";
}




/* header */

.header-whole-container {
  width: 100%;
  height: 50px;
}

.menucenter-socialmedia-container {
  width: 20%;
  height: 100%;
  float: left;
  border:
}

.menucenter-menu-container {
  width: 60%;
  height: 100%;
  float: left;
  text-align: center;
}

.menucenter-menu-container ul {
  text-align: center;
  padding-top: 12px;
  text-align: center;
}

.menucenter-menu-container a {
  text-decoration: none;
}

.menucenter-menu-container li {
  display: inline;
  letter-spacing: 7px;
  padding-left: 15px;
  padding-right: 15px;
  text-transform: uppercase;
  text-align: center;
  font-size: 11px;
  transition-duration: 0.5s;


}

.menucenter-search-container {
  width: 20%;
  height: 100%;
  float: right;
}

.screen-reader-text {
display: none;
}


.menucenter-socialmedia-container li {
  display: inline;
  padding-left: 5px;
  padding-right: 5px;
  text-align: center;
}

.menucenter-socialmedia-container ul {
  padding-top: 14px;
  padding-left: 20px;

}

.menucenter-search-container i {
  padding-top: 15px;
  float: right;
  padding-right: 30px;
}

.menuright-socialmedia-search-container {
  width: 40%;
  float: left;
  height: 100%
}

.menuright-socialmedia-search-container ul {
  padding-top: 14px;
  padding-left: 20px;
}

.menuright-socialmedia-search-container li {
  display: inline;
  padding-left: 5px;
  padding-right: 5px;
}

.menuright-menu-container {
  float: right;
  width: 60%;
  height: 100%;
  text-align: right;
}

.menuright-menu-container ul {
  padding-top: 14px;
  padding-right: 50px;
}

.menuright-menu-container li {
  text-transform: uppercase;
  letter-spacing: 7px;
  padding-left: 15px;
  padding-right: 15px;
  display: inline;
  font-size: 13px;
  transition-duration: 0.5s;

}

.menuright-menu-container a {
  text-decoration: none;
}

.menuleft-menu-container {
  width: 60%;
  float: left;
  height: 100%;

}

.menuleft-socialmedia-container {
  width: 40%;
  float: right;
  height: 100%;

}

.menuleft-socialmedia-container li {
  display: inline;
  padding-left: 5px;
  padding-right: 5px;
}

.menuleft-menu-container li {
  text-transform: uppercase;
  padding-left: 15px;
  padding-right: 15px;
  letter-spacing: 7px;
  display: inline;
  font-size: 13px;
  transition-duration: 0.5s;
}

.menuleft-menu-container ul {
  padding-left: 30px;
  padding-top: 14px;

}

.menuleft-socialmedia-container li {
  padding-left: 5px;
  padding-right: 5px;

}

.menuleft-socialmedia-container ul {
  text-align: right;
  padding-top: 14px;
  padding-right: 30px;
}






/* homepage */

.homepage-whole-body-container {
  width: 100%;
  height: 93vh;
}

.homepage-title-container h1 {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 120px;
  letter-spacing: 4px;
}

.homepage-description-container {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  letter-spacing: 5px;
  font-size: 15px;
  text-transform: uppercase;
  padding-top: 30px;
}

.homepage-readmore-button-container {
  width: 15%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-top: 50px;
  border-radius: 1.2px;

}

.homepage-readmore-button-container p {
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 13px;
}





/* footer */

.footer-whole-container {
  width: 100%;
  height: 50px;
}

.footer-text-container {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-top: 13px;
  text-transform: uppercase;
  letter-spacing: 6px;
  font-size: 11px;
  transition-duration: 0.5s;
}




/* index.php  */


.featured-post-container {
  width: 100%;
  min-height: 400px;
}

.featuredpost-homepage-image-container {
  width: 100%;
  min-height: 400px;
}

.featuredpost-homepage-title-container {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 70px;
  padding-top: 100px;
}

.featuredpost-image-container {
  width: 100%;
  min-height: 400px;
}

.featuredpost-title-container {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 70px;
  padding-top: 100px;
  color: white;
  text-shadow: 6px 6px black;
  letter-spacing: 6px;
}

.featuredpost-readmore-container {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 7px;
  font-size: 11px;
  text-shadow: 2px 2px black;
}

.featuredpost-readmore-container a {
  color: white;
}





.secondary-categories-whole-container {
  width: 100%;
  height: 50px;
  text-align: center;
}

.secondary-categories-whole-container li {
  display: inline;
  padding-left: 20px;
  padding-right: 20px;
  text-transform: uppercase;
  color: white;
  text-align: center;
  letter-spacing: 5px;
  font-size: 11px;
}

.secondary-categories-whole-container ul {
  padding-top: 12px;
}

.blog-content-whole-container {
  width: 100%;
  overflow: auto;
  display: flex;

}

.blog-content-top-padding {
  width: 100%;
  height: 50px;


}

.blog-content-width-container {
  width: 70%;
  order: 2;
  overflow: auto;


}

.blog-sidebar-width-container {
  width: 30%;
  order: 1;
  overflow: auto;


}

.blog-column-container {
  width: 87%;
  max-width: 1500px;
  margin-left: 25px;
  margin-right: 25px;
  overflow: auto;
  margin-bottom: 50px;
}

.blog-sidebar-container {
  width: 75%;
  margin-left: 25px;
  margin-right: 25px;
  max-width: 400px;
}

.widepostlayout-wholepost-container {
  width: 100%;
  overflow: auto;
  background-color: white;
  margin-bottom: 50px;

}

.widepostlayout-wholepost-container img {
  width: 100%;
  height: auto;
}

.widepostlayout-categories-container {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  text-transform: uppercase;
  padding-top: 10px;
}

.widepostlayout-categories-container li {
  display: inline;
  letter-spacing: 10px;
  font-size: 10px;
  padding-left: 13px;
  padding-right: 13px;

}

.widepostlayout-title-container {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 35px;
  padding-top: 35px;
  letter-spacing: 5px;
  padding-bottom: 10px;
}

.widepostlayout-meta-container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  letter-spacing: 4px;
  font-size: 10px;
  padding-top: 20px;
  text-transform: uppercase;
}

.widepostlayout-meta-container li {
  display: inline;
  padding-left: 5px;
  padding-right: 5px;
}

.widepostlayout-content-container {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.5em;
  letter-spacing: 1px;
  padding-top: 30px;
  font-size: 14px;
  padding-bottom: 20px;
  text-align: center;

}

.widepostlayout-readmore-container {
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 10px;
  font-size: 10px;
  padding-top: 20px;
  padding-bottom: 50px;
}






/* grid post layout  */

.gridpostlayout-flex-container {
  width: 100%;
  overflow: auto;
}

.gridpostlayout-post-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  background-color: white;
  margin-bottom: 50px;

}

.gridpostlayout-featuredimage-container {
  width: 40%;

}


.gridpostlayout-information-container {
  width: 60%;
  background-color: white;
  overflow: auto;
}



.gridpostlayout-info-categories-readmore-container {
  margin-left: auto;
  margin-right: auto;
  padding-top: 30px;
  overflow: auto;
  padding-bottom: 10px;

}

.gridpostlayout-info-categories-container {
  width: 100%;
  float: left;

}

.gridpostlayout-info-categories-container li {
  display: inline;
  text-transform: uppercase;
  font-size: 10px;
  letter-spacing: 7px;
  padding-right: 14px;

}

.gridpostlayout-info-readmore-container {
  width: 30%;
  float: right;
  text-transform: uppercase;
  font-size: 11px;
  letter-spacing: 7px;
  text-align: right;
  padding-top: 5px;

}

.gridpostlayout-title-container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  font-size: 60px;
  padding-top: 35px;
  padding-bottom: 30px;
  overflow: auto;
}

.gridpostlayout-meta-container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 20px;
}

.gridpostlayout-meta-container li {
  display: inline;
  padding-right: 10px;
  text-transform: uppercase;
  font-size: 10px;
  letter-spacing: 4px;
}

.gridpostlayout-excerpt-container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  font-size: 13px;
  letter-spacing: 1px;
  line-height: 1.5em;
  padding-bottom: 20px;
}

.gridpostlayout-readmore-container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-transform: uppercase;
  letter-spacing: 6px;
  font-size: 11px;
  padding-bottom: 40px;
  padding-top: 10px;
}



/*  image post layout   */

.imagepostlayout-whole-container {
  width: 100%;
  overflow: auto;
}

.imagepostlayout-post-container {
  width: 100%;

}



.imagepostlayout-title-container {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 40px;
  color: white;
  text-shadow: black 3px 3px;
  padding-top: 180px;
  padding-bottom: 20px;
}

.imagepostlayout-meta-container {
  text-align: center;
  padding-bottom: 180px;
}

.imagepostlayout-meta-container li {
  display: inline;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: white;
  font-size: 10px;
  padding-left: 7px;
  padding-right: 7px;


}

.imagepostlayout-readmore-container {
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-top: 40px;
  color: white;
  text-transform: uppercase;
  letter-spacing: 7px;
  font-size: 10px;
  padding-bottom: 200px;
}

.imagepost-excerpt-whole-container {
  background-color: white;
  margin-bottom: 50px;
}

.imagepost-excerpt-container {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  font-size: 14px;
  line-height: 1.5em;
  letter-spacing: 1px;
  padding-top: 30px;
  padding-bottom: 50px;
}

.imagepost-readmore-container {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 7px;
  font-size: 10px;
  padding-bottom: 60px;
}

.imagepost-category-container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 7px;
  font-size: 11px;
  padding-top: 20px;
}

.imagepost-category-container li {
  display: inline;
  padding-left: 10px;
  padding-right: 10px;

}




/*  sidebar   */


.trek-widget {
  width: 100%;
  background-color: white;
  margin-bottom: 25px;
}

.trek-widget-title {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 14px;
  padding-bottom: 30px;
  padding-top: 30px;
  letter-spacing: 3px;
  text-transform: uppercase;
  line-height: 1.6em;
}

.trek-widget-width-container {
  margin-left: auto;
  margin-right: auto;

}

.trek-widget-width-container ul {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 30px;
}

.trek-widget-width-container li {
  letter-spacing: 3px;
  padding-bottom: 15px;
  font-size: 12px;
  list-style-type: none;

}


.trek-widget-width-container p {
  font-size: 13px;
  line-height: 1.5em;
  letter-spacing: 1px;

}

.trek-widget-width-container img {
}

.trek-widget-width-container #s {
  width: 70%;
  height: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: Montserrat;
  letter-spacing: 1px;
}

.trek-widget-width-container form {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.trek-widget-width-container #searchsubmit {
  width: 27%;
  float: right;
  height: 33px;
  font-family: Montserrat;
  margin-top: 20px;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.trek-widget .tagcloud {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 30px;
}

.trek-widget .tagcloud a {
  border-radius: 4px;
  padding-left: 6px;
  padding-right: 6px;
  padding-top: 3px;
  padding-bottom: 3px;
  letter-spacing: 2px;

}

.archive-dropdown {
  width: 75%;
  margin-left: auto;
  margin-right: auto;

}

.widget_archive select {
  margin-left: 10%;
  margin-bottom: 30px;


}

.trek-widget table {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 30px;

}

.trek-widget table caption {
  text-transform: uppercase;
  font-size: 11px;
  letter-spacing: 3px;
  padding-bottom: 20px;
}

.trek-widget td {
  text-align: center;
  font-size: 12px;
  padding-top: 15px;
}

.trek-widget thead th {
  font-size: 13px;
  font-weight: 900;
  margin-bottom: 15px;
}


.trek-widget #prev  {
  padding-top: 10px;
  font-size: 13px;
  text-transform: uppercase;
}

.trek-widget #next {
  padding-top: 10px;
  font-size: 13px;
  text-transform: uppercase;
}

.trek-widget img {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.trek-widget .gallery {
  padding-bottom: 30px;
}

 .widget_media_image .trek-widget-width-container {
  padding-bottom: 30px;
}

.widget_recent_entries .post-date  {
  display: block;
}

.widget_recent_entries a {
  text-transform: uppercase;
  font-size: 12px;
  line-height: 2em;
}





/*  single post layout - option one  */

.singlepost1-whole-container {
  width: 100%;
  background-color: white;
  overflow: auto;
  margin-bottom: 50px;
}

.singlepost1-featuredimage-container {
  width: 100%;
}

.singlepost1-featuredimage-container img {
  width: 100%;
  height: auto;
}

.singlepost1-title-container {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 35px;
  padding-top: 40px;
  padding-bottom: 20px;
  letter-spacing: 5px;

}

.singlepost1-categories-container {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 7px;
  font-size: 11px;
}

.singlepost1-categories-container li {
  list-style-type: none;
  padding-left: 10px;
  padding-right: 10px;
  display: inline;
}

.singlepost1-categories-container ul {
  padding-top: 20px;
}

.singlepost1layout-meta-container li {
  display: inline;
  padding-left: 10px;
  padding-right: 10px;
  text-transform: uppercase;
  font-size: 10px;
  letter-spacing: 5px;
}

.singlepost1layout-meta-container ul {
  text-align: center;
  padding-top: 10px;
}

.singlepost-content-container {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  letter-spacing: 1px;
  line-height: 1.5em;
  padding-top: 30px;
  padding-bottom: 100px;
}

.singlepost-content-container p {
  padding-bottom: 20px;
  padding-top: 10px;
  font-size: 14px;
}





/*  SINGLE POST LAYOUT OPTION TWO   */

.singlepost2-whole-container {
  width: 100%;
  background-color: white;
  overflow: auto;
  margin-bottom: 50px;
}

.singlepost2-categories-container {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.singlepost2-categories-container li {
  display: inline;
  padding-left: 10px;
  padding-right: 10px;
  text-transform: uppercase;
  font-size: 11px;
  letter-spacing: 5px;

}

.singlepost2-categories-container ul {
  padding-top: 20px;
}

.singlepost2-title-container {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-top: 35px;
  font-size: 40px;
  padding-bottom: 20px;
}

.singlepost2-featuredimage-container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  height: 550px;
  margin-bottom: 30px;
}



/*  SINGLE POST LAYOUT OPTION THREE   */

.singlepost3-whole-container {
  width: 100%;
  background-color: white;
  margin-bottom: 25px;
}

.singlepost3-featuredimage-container {
  width: 100%;
  min-height: 600px;
}

.singlepost3-title-container {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: white;
  text-shadow: 6px 6px black;
  font-size: 45px;
  padding-top: 200px;
  padding-bottom: 20px;
}

.singlepost3white {
  color: white;
  text-shadow: 2px 2px black;
}

.singlepost3-categories-container {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-top: 20px;
}

.singlepost3-categories-container li {
  display: inline;
  padding-left: 10px;
  padding-right: 10px;
  text-transform: uppercase;
  letter-spacing: 7px;
  font-size: 11px;
}




/* pagination for index page  */

ul.page-numbers {
    list-style: none;
    margin: 0;

}

.page-numbers:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

ul.page-numbers li {
    display: block;
    float: left;
    margin: 0 4px 4px 0;
    text-align: center;
}

.page-numbers a,
.page-numbers span {
    line-height: 1.6em;
    display: block;
    padding: 0 6px;
    height: 18px;
    line-height: 18px;
    font-size: 12px;
    text-decoration: none;
    font-weight: 400;
    cursor: pointer;
    border: 1px solid #ddd;
    color: #888;
}

.page-numbers a span { padding: 0 }



.page-numbers:hover { text-decoration: none }


.pagination-whole-container {
  width: 100%;
  max-width: 1500px;
  height: 100px;
}

.pagination-whole-container  {
  text-align: center;

}





/* single post navigation / pagination */

.single-post-navigation {
  min-height: 50px;
  overflow: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-bottom: 25px;
}

.singlepostnav-right-container {
  padding-top: 20px;
  padding-bottom: 24px;
  text-transform: uppercase;
  font-size: 11px;
  letter-spacing: 2px;
  text-align: right;
  display: inline;
  order: 2;
}

.singlepostnav-left-container {
  padding-top: 20px;
  padding-bottom: 24px;
  text-transform: uppercase;
  font-size: 11px;
  letter-spacing: 2px;
  text-align: left;
  display: inline;
  order: 1;
}

.single-link-nav {
  padding-right: 20px;
}

.post-link-nav {
  padding-left: 20px;
}


/* single post tags and likes section   */

.singlepost-tags-like-whole-container {
  width: 100%;
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.singlepost-tags-container {
  width: 50%;
  height: 50px;
  display: inline;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 9px;
  padding-left: 40px;

}

.singlepost-tags-container a {
  padding-left: 5px;
  padding-right: 5px;
}

.singlepost-like-container {
  width: 50%;
  background-color: purple;
  display: inline;
}



/*  author box and buy theme section  */

.trek-singlepost-author-theme-whole-container {
  width: 100%;
  overflow: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;

}

.singlepost-author-whole-container {
  width: 100%;
  float: left;
  background-color: white;
  display: inline;
}



.singlepost-avatar-container {
  width: 140px;
  height: 150px;
  float: left;
}

.singlepost-info-container {
  width: calc(100% - 140px);
  float: right;
}

.singlepost-author-avatar-circle {
  width: 100px;
  height: 100px;
  border-radius: 100px;
  overflow: hidden;
  margin: 23px auto;
}

.singlepost-author-title-container {
  width: 94%;
  float: left;
  margin-top: 25px;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 12px;
  margin-bottom: 5px;

}

.singlepost-author-description-container {
  font-size: 11px;
  line-height: 1.5em;
  letter-spacing: 1px;
  width: 94%;
  padding-bottom: 15px;

}

.singlepost-author-website-container {
  padding-bottom: 25px;
  color: rgba( 0,0,0,0.7);
  font-size: 12px;
  width: 90%;


}

.singlepost-author-website-container a {
  color: rgba( 0,0,0,0.7);
  letter-spacing: 1px;
}





/*   about me widget   */

.trek-aboutme-backgroundimage-container {
  width: 100%;
  height: 150px;
}

.trek-aboutme-profilepicture-container {
  width: 120px;
  height: 120px;
  overflow: hidden;
  border-radius: 100px;
  border: solid 2px white;
  position: relative;
  bottom: 70px;
  margin-left: auto;
  margin-right: auto;
}

.trek-aboutme-profilepicture-container img {
  width: 120px;
  height: 120px;

}

.trek-aboutme-name-container {
  width: 75%;
  font-size: 14px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  position: relative;
  bottom: 50px;
}

.trek-aboutme-bio-container {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 11px;
  position: relative;
  bottom: 30px;
}

.trek-aboutme-readmore-container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 40px;

}

.trek-aboutme-readmore-container p {
  letter-spacing: 7px;
  font-size: 11px;
}




/*  where am i widget    */

.trek-currentlocation-title-container {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  text-transform: uppercase;
  padding-top: 30px;
  padding-bottom: 20px;

}

.trek-currentlocation-title-container h3 {
  letter-spacing: 3px;
  font-size: 14px;
}

.trek-currentlocation-image-container {
  width: 100%;
  height: 200px;
  overflow: hidden;
}

.trek-currentlocation-image-container img {
  width: 100%;
}

.trek-currentlocation-location-container {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.trek-currentlocation-location-container h4 {
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 14px;
}

.trek-currentlocation-location-container i{
  padding-right: 6px;
}

.trek-currentlocation-description-container {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 11px;
  padding-bottom: 30px;
}



/* social media widget */


.trek-socialmedia-title-container {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 12px;
  padding-top: 30px;
  padding-bottom: 10px;

}

.trek-socialmedia-list-container {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;

}

.trek-socialmedia-list-container li {
  display: inline;
  padding-left: 2px;
  padding-right: 2px;
  font-size: 17px;

}



/*  popular posts widget   */


.trek-popularposts-whole-container {
  width: 100%;
}
.trek-popularposts-title-container {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 14px;
  letter-spacing: 3px;
  text-transform: uppercase;
  padding-top: 30px;
}

.trek-popularpost-list-container {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 30px;
  padding-bottom: 40px;
  line-height: 1.3em;
}

.capitalise {
  text-transform: uppercase;
}






/*  link to page widget  */

.trek-linktopage-backgroundimage-container {
  width:100%;
  height: 150px;
}

.trek-linktopage-title-container {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 3px;
  padding-top: 20px;
}

.trek-linktopage-description-container {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 11px;
  padding-top: 20px;
}


.trek-linktopage-readmore-container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 40px;
  padding-top: 20px;
}

.trek-linktopage-readmore-container a {
  letter-spacing: 7px;
  font-size: 11px;
}







/* gutenberg styling */


/* images */



.wp-block-image .aligncenter {
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
}

.wp-block-image .alignleft {
    margin-right: 2em;
}

.wp-block-image .alignright {
    margin-left: 2em;
}

.wp-block-gallery {
  padding-top: 20px;
  padding-bottom: 20px;
}



/* cover images */



.wp-block-cover__inner-container .has-large-font-size {
  font-size: 40px;
  font-weight: 900;
  letter-spacing: 4px;
}

.wp-block-cover {
  margin: 30px 0;
}



/* headings */



.singlepost-content-container h2 {
  margin: 20px 0;

}

.singlepost-content-container h3 {
  margin: 12px 0;
}

.singlepost-content-container h4 {
  margin: 12px 0;
}


.singlepost-content-container ul {
  margin-left: 20px;
  font-size: 14px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.singlepost-content-container ol {
  margin-left: 20px;
  font-size: 14px;
  margin-top: 10px;
  margin-bottom: 20px;
}









/*   quote   */



.singlepost-content-container .wp-block-quote {
  width: 85%;
  margin: 30px auto;
  text-align: center;
}

.singlepost-content-container .wp-block-quote p {
  font-size: 22px;
  font-style: italic;
  letter-spacing: 3px;
}

.singlepost-content-container .wp-block-quote cite {
  color: grey;
  font-size: 13px;

}



/* audio and video embed */



.wp-block-embed__wrapper iframe {
  width: 100%;
  margin: 20px auto;
  min-height: 450px;
}


/*   file upload  */



.wp-block-file {
  margin: 10px 0;
}




/* code */



.wp-block-code {
  width: 95%;
  background-color: #F1F3F4;
  padding: 20px;
  margin: 20px auto;
}






/* pullquote */



.singlepost-content-container .wp-block-quote {
  width: 85%;
  margin: 30px auto;
  text-align: center;

}

.singlepost-content-container .wp-block-pullquote p {
  font-size: 22px;
  font-style: italic;
  letter-spacing: 3px;
}

.singlepost-content-container .wp-block-pullquote cite {
  color: grey;
  font-size: 13px;

}



/* table */



.wp-block-table {
    display: table;
    width: 90%;
    margin: 30px auto;

}

.wp-block-table th {
    text-align:         left;
    padding:            5px 5px;

}

.wp-block-table td {
    margin:             0;
    padding:            5px 5px;

}

.is-style-regular td {
  border-bottom: 1px solid #e5e5e5;
}



/* preformatted */



.wp-block-preformatted {
  width: 95%;
  margin: 30px auto;
  padding: 20px 20px;
  background-color: #F1F3F4;

}





/* verse   */



.wp-block-verse {
  margin: 20px auto;
  background-color: #F1F3F4;
  padding: 20px;
  width: 95%;
  text-align: left;
  border-left: solid 2.5px darkgrey;
}




/*  button  */



.wp-block-button__link {
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 4px;
  padding: 10px 30px;
  transition-duration: 1s;
  margin: 20px 0;
}

.wp-block-button__link:hover {
  letter-spacing: 5px;
  transition-duration: 1s;
}



/* media with text */


.wp-block-media-text p {
  font-size: 30px;
  line-height: 1.3em;
}

.wp-block-media-text {
  margin: 30px auto;
}



/*   Seperator   */



.wp-block-separator {
  width: 75%;
  margin: 50px auto;

}

hr {
  height: 6px;
	background: url(http://ibrahimjabbari.com/images/hr-11.png) repeat-x 0 0;
    border: 0;
}



/* calender */


.wp-block-calendar {
  margin: 20px auto;
  width: 90%;

}



/* comments widget */



.wp-block-latest-comments {
  margin: 20px auto;
}



/* search */


.wp-block-search {
  margin: 50px auto;
}

.wp-block-search__input {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 14px;
  padding-left: 10px;
  border: solid lightgrey 1.5px;
  border-radius: 5px;
  letter-spacing: 1px;
}

.wp-block-search__button {
  padding: 10px 20px;
  text-transform: uppercase;
  border: solid lightgrey 1.5px;
  border-radius: 5px;
  letter-spacing: 2px;


}

.wp-block-search__label {
  width: 80%;
  margin:  0 auto;
  padding-bottom: 10px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 14px;
}



/* tag cloud block */



.wp-block-tag-cloud {
  width: 70%;
  margin: 20px auto;
  text-align: center;
}

.wp-block-tag-cloud a {
  padding: 8px 15px;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-radius: 10px;
}
