/* global css */

* {
  padding: 0px;
  margin: 0px;
}

body {
  height: 100%;
}

html { height: 100%; width: 100%; }

body {
  width: 100%;
}

.header-overlay-title-container h1 {
  color: black!important;
}

.search-overlay-close-icon i {
  color: black!important;
}





/* custom options */

.Montserrat {
  font-family: Montserrat;
}

.headerTextColor a {
  text-decoration: none;
}

a {
  text-decoration: none;
}

.ReenieBeanie {
  font-family: "Reenie Beanie";
}




/* header */


.header-whole-container {
  width: 100%;
  height: 50px;
}

.menucenter-socialmedia-container {
  width: 20%;
  height: 100%;
  float: left;
  font-size: 15px;
}

.menucenter-menu-container {
  width: 60%;
  height: 100%;
  float: left;
  text-align: center;
}

.menucenter-menu-container ul {
  text-align: center;
  padding-top: 12px;
  text-align: center;
}

.menucenter-menu-container a {
  text-decoration: none;
}

.menucenter-menu-container li {
  display: inline;
  letter-spacing: 7px;
  padding-left: 15px;
  padding-right: 15px;
  text-transform: uppercase;
  text-align: center;
  font-size: 9.5px;
  transition-duration: 0.5s;


}

.menucenter-search-container {
  width: 20%;
  height: 100%;
  float: right;
  font-size: 15px;
}

.screen-reader-text {
display: none;
}


.menucenter-socialmedia-container li {
  display: inline;
  padding-left: 5px;
  padding-right: 5px;
  text-align: center;
}

.menucenter-socialmedia-container ul {
  padding-top: 14px;
  padding-left: 20px;

}

.menucenter-search-container i {
  padding-top: 15px;
  float: right;
  padding-right: 30px;
}

.menuright-socialmedia-search-container {
  width: 40%;
  float: left;
  height: 100%;
  font-size: 15px;
}

.menuright-socialmedia-search-container ul {
  padding-top: 14px;
  padding-left: 20px;
}

.menuright-socialmedia-search-container li {
  display: inline;
  padding-left: 5px;
  padding-right: 5px;
}

.menuright-menu-container {
  float: right;
  width: 60%;
  height: 100%;
  text-align: right;

}

.menuright-menu-container ul {
  padding-top: 14px;
  padding-right: 10px;
}

.menuright-menu-container li {
  text-transform: uppercase;
  letter-spacing: 7px;
  padding-left: 15px;
  padding-right: 15px;
  display: inline;
  font-size: 9.5px;
  transition-duration: 0.5s;

}

.menuright-menu-container a {
  text-decoration: none;
}

.menuleft-menu-container {
  float: left;
  height: 100%;


}

.menuleft-socialmedia-container {
  width: 40%;
  float: right;
  height: 100%;
  font-size: 15px;

}

.menuleft-socialmedia-container li {
  display: inline;
  padding-left: 5px;
  padding-right: 5px;
}

.menuleft-menu-container li {
  text-transform: uppercase;
  padding-left: 15px;
  padding-right: 15px;
  letter-spacing: 7px;
  display: inline;
  font-size: 9.5px;
  transition-duration: 0.5s;
}

.menuleft-menu-container ul {
  padding-left: 10px;
  padding-top: 14px;

}

.menuleft-socialmedia-container li {
  padding-left: 5px;
  padding-right: 5px;

}

.menuleft-socialmedia-container ul {
  text-align: right;
  padding-top: 14px;
  padding-right: 30px;
}






/* homepage */

.homepage-whole-body-container {
  width: 100%;
  height: 92vh;
}

.homepage-logo-container {
  text-align: center;
  padding-bottom: 30px;
}

.homepage-title-container h1 {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 95px;
  letter-spacing: 4px;
  font-weight: 900;
}

.homepage-description-container {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  letter-spacing: 5px;
  font-size: 13px;
  text-transform: uppercase;
  padding-top: 30px;
}

.homepage-readmore-button-container {
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-top: 50px;
  border-radius: 1.2px;

}

.homepage-readmore-button-container p {
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 13px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

.homepage-video-whole-container {
  width: 100%;
  height: 95vh!important;
  background-color: black;
  overflow: hidden;
  position: absolute;
  z-index: -11;

}

.homepage-video-whole-container iframe {
  position:absolute;
    filter: brightness(80%);
}

.homepage-video-footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
}








/* footer */

.footer-whole-container {
  width: 100%;
  min-height: 50px;
}

.footer-text-container {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-top: 13px;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 9.5px;
  transition-duration: 0.5s;
  padding-top: 30px;
  padding-bottom: 30px;
}




/* index.php  */


.featured-post-container {
  width: 100%;

}

.featuredpost-homepage-image-container {
  width: 100%;
}

.featuredpost-homepage-title-container {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 63px;
}

.featuredpost-image-container {
  width: 100%;
}

.featuredpost-title-container {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 45px;
  color: white;
  text-shadow: 4px 4px black;
  letter-spacing: 6px;
}

.featuredpost-title-container a {
  color: white;
}

.featuredpost-readmore-container {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 7px;
  font-size: 11px;
  text-shadow: 2px 2px black;
  padding-top: 25px;
}

.featuredpost-readmore-container a {
  color: white;
}

.featuredpost-logo-container {
  text-align: center;
  width: 90%;
  margin: 0px auto;
}

.featuredpost-description-container {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  letter-spacing: 5px;
  font-size: 14px;
  text-transform: uppercase;
  padding-top: 30px;
}

.featuredpost-container-padding {
  padding-top: 90px;
  padding-bottom: 90px;
  overflow: auto;
}





.secondary-categories-whole-container {
  width: 100%;
  height: 50px;
  text-align: center;
}

.secondary-categories-whole-container li {
  display: inline;
  padding-left: 20px;
  padding-right: 20px;
  text-transform: uppercase;
  color: white;
  text-align: center;
  letter-spacing: 7px;
  font-size: 9.5px;
}

.secondary-categories-whole-container ul {
  padding-top: 12px;
}

.blog-content-whole-container {
  width: 100%;
  overflow: auto;

}

.blog-content-top-padding {
  width: 100%;
  height: 50px;


}

.blog-content-width-container {
  overflow: auto;
  padding-bottom: 50px!important;



}

.blog-sidebar-width-container {
  width: 30%;
  order: 1;
  overflow: auto;


}

.blog-column-container {
  width: 87%;
  max-width: 1500px;
  margin-left: 25px;
  margin-right: 25px;
  overflow: auto;
  margin-bottom: 100px!important;
}

.blog-sidebar-container {
  width: 75%;
  margin-left: 25px;
  margin-right: 25px;
  padding-bottom: 50px!important;

}

.widepostlayout-wholepost-container {
  width: 100%;
  overflow: auto;
  background-color: white;
  margin-bottom: 50px;

}

.widepostlayout-wholepost-container img {
  width: 100%;
  height: auto;
}

.widepostlayout-categories-container {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  text-transform: uppercase;
  padding-top: 10px;
}

.widepostlayout-categories-container li {
  display: inline;
  letter-spacing: 6px;
  font-size: 10px;
  padding-left: 13px;
  padding-right: 13px;

}

.widepostlayout-title-container {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 28px;
  padding-top: 35px;
  letter-spacing: 3px;
  padding-bottom: 10px;
}

.widepostlayout-meta-container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  letter-spacing: 3px;
  font-size: 10px;
  padding-top: 20px;
  text-transform: uppercase;
}

.widepostlayout-meta-container li {
  display: inline;
  padding-left: 5px;
  padding-right: 5px;
}

.widepostlayout-content-container {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.5em;
  letter-spacing: 1px;
  padding-top: 30px;
  font-size: 13px;
  padding-bottom: 20px;
  text-align: left;

}

.widepostlayout-readmore-container {
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 6px;
  font-size: 10px;
  padding-top: 20px;
  padding-bottom: 50px;
}






/* grid post layout  */

.gridpostlayout-flex-container {
  width: 100%;
  overflow: auto;
}

.gridpostlayout-post-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  background-color: white;
  margin-bottom: 50px;

}

.gridpostlayout-featuredimage-container {
  width: 40%;

}


.gridpostlayout-information-container {
  width: 60%;
  background-color: white;
  overflow: auto;
}



.gridpostlayout-info-categories-readmore-container {
  margin-left: auto;
  margin-right: auto;
  padding-top: 30px;
  overflow: auto;
  padding-bottom: 10px;

}

.gridpostlayout-info-categories-container {
  width: 100%;
  float: left;

}

.gridpostlayout-info-categories-container li {
  display: inline;
  text-transform: uppercase;
  font-size: 10px;
  letter-spacing: 6px;
  padding-right: 14px;

}

.gridpostlayout-info-readmore-container {
  width: 30%;
  float: right;
  text-transform: uppercase;
  font-size: 11px;
  letter-spacing: 7px;
  text-align: right;
  padding-top: 5px;

}

.gridpostlayout-title-container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  font-size: 28px;
  padding-top: 20px;
  padding-bottom: 20px;
  overflow: auto;
  letter-spacing: 3px;
}

.gridpostlayout-meta-container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 20px;
}

.gridpostlayout-meta-container li {
  display: inline;
  padding-right: 10px;
  text-transform: uppercase;
  font-size: 10px;
  letter-spacing: 3px;
}

.gridpostlayout-excerpt-container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  font-size: 13px;
  letter-spacing: 1px;
  line-height: 1.5em;
  padding-bottom: 20px;
}

.gridpostlayout-readmore-container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-transform: uppercase;
  letter-spacing: 6px;
  font-size: 10px;
  padding-bottom: 40px;
  padding-top: 10px;
}



/*  image post layout   */

.imagepostlayout-whole-container {
  width: 100%;
  overflow: auto;
}

.imagepostlayout-post-container {
  width: 100%;

}

.imagepostlayout-post-container a {
  color: white;
}

.imagepost-padding {
  padding-top: 150px;
  padding-bottom: 150px;
}


.imagepostlayout-title-container {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 28px;
  letter-spacing: 3px;
  color: white;
  text-shadow: black 3px 3px;
  padding-bottom: 20px;
}

.imagepostlayout-meta-container {
  text-align: center;

}

.imagepostlayout-meta-container li {
  display: inline;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: white;
  font-size: 10px;
  padding-left: 5px;
  padding-right: 5px;


}

.imagepostlayout-readmore-container {
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-top: 40px;
  color: white;
  text-transform: uppercase;
  letter-spacing: 7px;
  font-size: 10px;
  padding-bottom: 200px;
}

.imagepostlayout-readmore-container a {
  color: white;
}

.imagepost-excerpt-whole-container {
  background-color: white;
  margin-bottom: 50px;
}

.imagepost-excerpt-container {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  font-size: 13px;
  line-height: 1.5em;
  letter-spacing: 1px;
  padding-top: 30px;
  padding-bottom: 50px;
}

.imagepost-readmore-container {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 6px;
  font-size: 10px;
  padding-bottom: 60px;
}

.imagepost-category-container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 6px;
  font-size: 10px;
  padding-top: 20px;
}

.imagepost-category-container li {
  display: inline;
  padding-left: 10px;
  padding-right: 10px;

}




/*  sidebar   */


.trek-widget {
  width: 100%;
  background-color: white;
  margin-bottom: 25px;
}

.trek-widget-title {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 14px;
  padding-bottom: 30px;
  padding-top: 30px;
  letter-spacing: 3px;
  text-transform: uppercase;
  line-height: 1.6em;
}

.trek-widget-width-container {
  margin-left: auto;
  margin-right: auto;

}

.trek-widget-width-container ul {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 30px;
}

.trek-widget-width-container li {
  letter-spacing: 3px;
  padding-bottom: 15px;
  font-size: 11px;
  list-style-type: none;

}


.trek-widget-width-container p {
  font-size: 13px;
  line-height: 1.5em;
  letter-spacing: 1px;

}

.trek-widget-width-container img {
}

.trek-widget-width-container #s {
  width: 70%;
  height: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: Montserrat;
  letter-spacing: 1px;
}

.trek-widget-width-container form {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.trek-widget-width-container #searchsubmit {
  width: 27%;
  float: right;
  height: 33px;
  font-family: Montserrat;
  margin-top: 20px;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.trek-widget .tagcloud {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 30px;
}

.trek-widget .tagcloud a {
  border-radius: 4px;
  padding-left: 6px;
  padding-right: 6px;
  padding-top: 3px;
  padding-bottom: 3px;
  letter-spacing: 2px;

}

.archive-dropdown {
  width: 75%;
  margin-left: auto;
  margin-right: auto;

}

.widget_archive select {
  margin-left: 10%;
  margin-bottom: 30px;


}

.trek-widget table {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 30px;

}

.trek-widget table caption {
  text-transform: uppercase;
  font-size: 11px;
  letter-spacing: 3px;
  padding-bottom: 20px;
}

.trek-widget td {
  text-align: center;
  font-size: 12px;
  padding-top: 15px;
}

.trek-widget thead th {
  font-size: 13px;
  font-weight: 900;
  margin-bottom: 15px;
}


.trek-widget #prev  {
  padding-top: 10px;
  font-size: 13px;
  text-transform: uppercase;
}

.trek-widget #next {
  padding-top: 10px;
  font-size: 13px;
  text-transform: uppercase;
}

.trek-widget img {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.trek-widget .gallery {
  padding-bottom: 30px;
}

 .widget_media_image .trek-widget-width-container {
  padding-bottom: 30px;
}

.widget_recent_entries .post-date  {
  display: block;
}

.widget_recent_entries a {
  text-transform: uppercase;
  font-size: 12px;
  line-height: 2em;
}


/* travel stats widget */

.trek-travelstats-whole-container {
  width: 95%;
  margin: 0px auto;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.trek-travelstats-flex-container {
  display: inline;
  width: 50%;
  text-align: center;
  padding-top: 12px;
  padding-bottom: 15px;
  text-transform: uppercase;

}

.trek-travelstats-flex-container i {
  font-size: 25px;
  padding-bottom: 10px;
}

.trek-travelstats-flex-container p {
  font-size: 10px;
}


/* search   */

.searchform-container input {
  width: 100%;
  margin: 30px auto;
  height: 40px;
  padding: 10px;
  -webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
font-size: 20px;
border: none;
border: 1px solid #E8E8E8;
letter-spacing: 1px;
font-size: 12px;

}

.searchform-container input:focus {
  outline: none !important;

}





/*  single post layout - option one  */

.singlepost1-whole-container {
  width: 100%;
  background-color: white;
  overflow: auto;
  margin-bottom: 50px;
}

.singlepost1-featuredimage-container {
  width: 100%;
}

.singlepost1-featuredimage-container img {
  width: 100%;
  height: auto;
}

.singlepost1-title-container {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 28px;
  padding-top: 40px;
  padding-bottom: 20px;
  letter-spacing: 3px;

}

.singlepost1-categories-container {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 6px;
  font-size: 10px;
}

.singlepost1-categories-container li {
  list-style-type: none;
  padding-left: 10px;
  padding-right: 10px;
  display: inline;
}

.singlepost1-categories-container ul {
  padding-top: 20px;
}

.singlepost1layout-meta-container li {
  display: inline;
  padding-left: 5px;
  padding-right: 5px;
  text-transform: uppercase;
  font-size: 10px;
  letter-spacing: 3px;
}

.singlepost1layout-meta-container ul {
  text-align: center;
  padding-top: 10px;
}

.singlepost-content-container {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  letter-spacing: 1px;
  line-height: 1.5em;
  padding-top: 20px;
  padding-bottom: 100px;
}

.singlepost-content-container p {
  padding-bottom: 20px;
  padding-top: 10px;
  font-size: 13px;
  letter-spacing: 1px;
  line-height: 1.5em;
}





/*  SINGLE POST LAYOUT OPTION TWO   */

.singlepost2-whole-container {
  width: 100%;
  background-color: white;
  overflow: auto;
  margin-bottom: 50px;
}

.singlepost2-categories-container {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.singlepost2-categories-container li {
  display: inline;
  padding-left: 10px;
  padding-right: 10px;
  text-transform: uppercase;
  font-size: 10px;
  letter-spacing: 6px;

}

.singlepost2-categories-container ul {
  padding-top: 20px;
}

.singlepost2-title-container {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-top: 35px;
  font-size: 28px;
  padding-bottom: 20px;
  letter-spacing: 3px;
}

.singlepost2-featuredimage-container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  height: 550px;
  margin-bottom: 30px;
}



/*  SINGLE POST LAYOUT OPTION THREE   */

.singlepost3-whole-container {
  width: 100%;
  background-color: white;
  margin-bottom: 25px;
}

.singlepost3-featuredimage-container {
  width: 100%;
}

.singlepost3-padding {
  padding-top: 150px;
  padding-bottom: 150px;
}

.singlepost3-title-container {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: white;
  text-shadow: 3px 3px black;
  font-size: 28px;
  padding-bottom: 20px;
  letter-spacing: 3px;
}

.singlepost3white {
  color: white;
  text-shadow: 2px 2px black;
}

.singlepost3-categories-container {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-top: 20px;
}

.singlepost3-categories-container li {
  display: inline;
  padding-left: 10px;
  padding-right: 10px;
  text-transform: uppercase;
  letter-spacing: 6px;
  font-size: 10px;
}




/* pagination for index page  */

ul.page-numbers {
    list-style: none;
    margin: 0;

}

.page-numbers:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

ul.page-numbers li {
    display: block;
    float: left;
    margin: 0 4px 4px 0;
    text-align: center;
}

.page-numbers a,
.page-numbers span {
    line-height: 1.6em;
    display: block;
    padding: 0 6px;
    height: 18px;
    line-height: 18px;
    font-size: 12px;
    text-decoration: none;
    font-weight: 400;
    cursor: pointer;
    border: 1px solid #ddd;
    color: #888;
}

.page-numbers a span { padding: 0 }



.page-numbers:hover { text-decoration: none }


.pagination-whole-container {
  width: 100%;
  max-width: 1500px;
  height: 50px;

}

.pagination-whole-container  {
  text-align: center;

}





/* single post navigation / pagination */

.single-post-navigation {
  min-height: 50px;
  overflow: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-bottom: 25px;
}

.singlepostnav-right-container {
  padding-top: 20px;
  padding-bottom: 24px;
  text-transform: uppercase;
  font-size: 11px;
  letter-spacing: 2px;
  text-align: right;
  display: inline;
  order: 2;
}

.singlepostnav-left-container {
  padding-top: 20px;
  padding-bottom: 24px;
  text-transform: uppercase;
  font-size: 11px;
  letter-spacing: 2px;
  text-align: left;
  display: inline;
  order: 1;
}

.single-link-nav {
  padding-right: 20px;
}

.post-link-nav {
  padding-left: 20px;
}


/* single post tags and views section   */

.singlepost-tags-views-whole-container {
  width: 100%;
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.singlepost-tags-container {
  width: 50%;
  height: 50px;
  display: inline;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 9px;


}

.singlepost-tags-container a {
  padding-left: 5px;
  padding-right: 5px;
}

.singlepost-views-container {
  width: 50%;
  display: inline;
  text-align: right;
}

.singlepost-tags-wrap {
  padding-left: 40px;
}

.singlepost-views-wrap {
  padding-right: 40px;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 11px;
}


/*  author box and buy theme section  */

.trek-singlepost-author-theme-whole-container {
  width: 100%;
  overflow: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-bottom: 25px;

}

.singlepost-author-whole-container {
  width: 100%;
  float: left;
  background-color: white;
  display: inline;
}



.singlepost-avatar-container {
  width: 140px;
  height: 150px;
  float: left;
}

.singlepost-info-container {
  width: calc(100% - 140px);
  float: right;
}

.singlepost-author-avatar-circle {
  width: 100px;
  height: 100px;
  border-radius: 100px;
  overflow: hidden;
  margin: 23px auto;
}

.singlepost-author-title-container {
  width: 94%;
  float: left;
  margin-top: 25px;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 12px;
  margin-bottom: 5px;

}

.singlepost-author-description-container {
  font-size: 11px;
  line-height: 1.5em;
  letter-spacing: 1px;
  width: 94%;
  padding-bottom: 15px;

}

.singlepost-author-website-container {
  padding-bottom: 25px;
  color: rgba( 0,0,0,0.7);
  font-size: 12px;
  width: 90%;


}

.singlepost-author-website-container a {
  color: rgba( 0,0,0,0.7);
  letter-spacing: 1px;
}





/*   about me widget   */

.trek-aboutme-backgroundimage-container {
  width: 100%;
  height: 150px;
}

.trek-aboutme-profilepicture-container {
  width: 120px;
  height: 120px;
  overflow: hidden;
  border-radius: 100px;
  border: solid 2px white;
  position: relative;
  bottom: 70px;
  margin-left: auto;
  margin-right: auto;
}

.trek-aboutme-profilepicture-container img {
  width: 120px;
  height: 120px;

}

.trek-aboutme-name-container {
  width: 75%;
  font-size: 14px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  position: relative;
  bottom: 50px;
}

.trek-aboutme-bio-container {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 11px;
  position: relative;
  bottom: 30px;
}

.trek-aboutme-readmore-container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 40px;

}

.trek-aboutme-readmore-container p {
  letter-spacing: 6px;
  font-size: 10px;
}




/*  where am i widget    */

.trek-currentlocation-title-container {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  text-transform: uppercase;
  padding-top: 30px;
  padding-bottom: 20px;

}

.trek-currentlocation-title-container h3 {
  letter-spacing: 3px;
  font-size: 14px;
}

.trek-currentlocation-image-container {
  width: 100%;
  height: 200px;
  overflow: hidden;
}

.trek-currentlocation-image-container img {
  width: 100%;
}

.trek-currentlocation-location-container {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.trek-currentlocation-location-container h4 {
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 14px;
}

.trek-currentlocation-location-container i{
  padding-right: 6px;
}

.trek-currentlocation-description-container {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 11px;
  padding-bottom: 30px;
}



/* social media widget */


.trek-socialmedia-title-container {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 12px;
  padding-top: 30px;
  padding-bottom: 10px;

}

.trek-socialmedia-list-container {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;

}

.trek-socialmedia-list-container li {
  display: inline;
  padding-left: 2px;
  padding-right: 2px;
  font-size: 17px;

}



/*  popular posts widget   */


.trek-popularposts-whole-container {
  width: 100%;
}
.trek-popularposts-title-container {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 14px;
  letter-spacing: 3px;
  text-transform: uppercase;
  padding-top: 30px;
}

.trek-popularpost-list-container {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 30px;
  padding-bottom: 40px;
  line-height: 1.3em;
}

.capitalise {
  text-transform: uppercase;
}






/*  link to page widget  */

.trek-linktopage-backgroundimage-container {
  width:100%;
  height: 150px;
}

.trek-linktopage-title-container {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 3px;
  padding-top: 20px;
}

.trek-linktopage-description-container {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 11px;
  padding-top: 20px;
}


.trek-linktopage-readmore-container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 40px;
  padding-top: 20px;
}

.trek-linktopage-readmore-container a {
  letter-spacing: 6px;
  font-size: 10px;
}







/* gutenberg styling */


/* images */



.wp-block-image .aligncenter {
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
}

.wp-block-image .alignleft {
    margin-right: 2em;
}

.wp-block-image .alignright {
    margin-left: 2em;
}

.wp-block-gallery {
  padding-top: 20px;
  padding-bottom: 20px;
}

.blocks-gallery-item figcaption {
  width: 90%!important;
}

.wp-block-image {
  padding-top: 1em;
}



/* cover images */



.wp-block-cover__inner-container .has-large-font-size {
  font-size: 40px;
  font-weight: 900;
  letter-spacing: 4px;
}

.wp-block-cover {
  margin: 30px 0;
}



/* headings */



.singlepost-content-container h2 {
  margin: 20px 0;

}

.singlepost-content-container h3 {
  margin: 12px 0;
}

.singlepost-content-container h4 {
  margin: 12px 0;
}


.singlepost-content-container ul {
  margin-left: 20px;
  font-size: 14px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.singlepost-content-container ol {
  margin-left: 20px;
  font-size: 14px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.page h2 {
  margin: 20px 0;

}

.page h3 {
  margin: 12px 0;
}

.page h4 {
  margin: 12px 0;
}


.page ul {
  margin-left: 20px;
  font-size: 14px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.page ol {
  margin-left: 20px;
  font-size: 14px;
  margin-top: 10px;
  margin-bottom: 20px;
}









/*   quote   */



.singlepost-content-container .wp-block-quote {
  width: 85%;
  margin: 30px auto;
  text-align: center;
}

.singlepost-content-container .wp-block-quote p {
  font-size: 22px;
  font-style: italic;
  letter-spacing: 3px;
}

.singlepost-content-container .wp-block-quote cite {
  color: grey;
  font-size: 13px;

}

.page .wp-block-quote {
  width: 85%;
  margin: 30px auto;
  text-align: center;
}

.page .wp-block-quote p {
  font-size: 22px;
  font-style: italic;
  letter-spacing: 3px;
}

.page .wp-block-quote cite {
  color: grey;
  font-size: 13px;

}

blockquote {
  width: 85%;
  margin: 30px auto;
  text-align: center;
}

blockquote p {
  font-size: 22px!important;
  font-style: italic;
  letter-spacing: 3px;
}

blockquote cite {
  color: grey;
  font-size: 13px;
}







/* audio and video embed */



.wp-block-embed__wrapper iframe {
  width: 100%;
  margin: 20px auto;
  min-height: 450px;
}


/*   file upload  */



.wp-block-file {
  margin: 10px 0;
}




/* code */



.wp-block-code {
  width: 95%;
  background-color: #F1F3F4;
  padding: 20px;
  margin: 20px auto;
}






/* pullquote */



.singlepost-content-container .wp-block-quote {
  width: 85%;
  margin: 30px auto;
  text-align: center;

}

.singlepost-content-container .wp-block-pullquote p {
  font-size: 22px;
  font-style: italic;
  letter-spacing: 3px;
}

.singlepost-content-container .wp-block-pullquote cite {
  color: grey;
  font-size: 13px;

}

.page .wp-block-quote {
  width: 85%;
  margin: 30px auto;
  text-align: center;

}

.page .wp-block-pullquote p {
  font-size: 22px;
  font-style: italic;
  letter-spacing: 3px;
}

.page .wp-block-pullquote cite {
  color: grey;
  font-size: 13px;

}



/* table */



.wp-block-table {
    display: table;
    width: 90%;
    margin: 30px auto;

}

.wp-block-table th {
    text-align:         left;
    padding:            5px 5px;

}

.wp-block-table td {
    margin:             0;
    padding:            5px 5px;

}

.is-style-regular td {
  border-bottom: 1px solid #e5e5e5;
}



/* preformatted */



.wp-block-preformatted {
  width: 95%;
  margin: 30px auto;
  padding: 20px 20px;
  background-color: #F1F3F4;

}

pre {
  width: 95%;
  margin: 30px auto;
  padding: 20px 20px;
  background-color: #F1F3F4;
}





/* verse   */



.wp-block-verse {
  margin: 20px auto;
  background-color: #F1F3F4;
  padding: 20px;
  width: 95%;
  text-align: left;
  border-left: solid 2.5px darkgrey;
}




/*  button  */



.wp-block-button__link {
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 4px;
  padding: 10px 30px;
  transition-duration: 1s;
  margin: 20px 0;
}

.wp-block-button__link:hover {
  letter-spacing: 5px;
  transition-duration: 1s;
}



/* media with text */


.wp-block-media-text p {
  font-size: 30px;
  line-height: 1.3em;
}

.wp-block-media-text {
  margin: 30px auto;
}



/*   Seperator   */



.wp-block-separator {
  width: 75%;
  margin: 50px auto;

}

hr {
  height: 6px;
	background: url(http://ibrahimjabbari.com/images/hr-11.png) repeat-x 0 0;
    border: 0;
}



/* calender */


.wp-block-calendar {
  margin: 20px auto;
  width: 90%;

}



/* comments widget */



.wp-block-latest-comments {
  margin: 20px auto;
}



/* search */


.wp-block-search {
  margin: 50px auto;
}

.wp-block-search__input {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 14px;
  padding-left: 10px;
  border: solid lightgrey 1.5px;
  border-radius: 5px;
  letter-spacing: 1px;
}

.wp-block-search__button {
  padding: 10px 20px;
  text-transform: uppercase;
  border: solid lightgrey 1.5px;
  border-radius: 5px;
  letter-spacing: 2px;


}

.wp-block-search__label {
  width: 80%;
  margin:  0 auto;
  padding-bottom: 10px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 14px;
}



/* tag cloud block */



.wp-block-tag-cloud {
  width: 70%;
  margin: 20px auto;
  text-align: center;
}

.wp-block-tag-cloud a {
  padding: 8px 15px;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-radius: 10px;
}







/*   comments section   */

.comments-whole-container {
  width: 100%;
  background-color: white;
  overflow: hidden;
}

.comments-title-wrap {
  text-align: center;
  text-transform: uppercase;
}

.comments-title {
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 16px;
  letter-spacing: 5px;
}

.comment-reply-title {
  text-transform: uppercase;
  font-size: 12px;
  text-align: center;
  letter-spacing: 5px;
  font-weight: 300;
}

.comment-form #comment {
  width: 100%;
  font-size: 14px;
  font-family: Montserrat;
  padding: 10px;
  outline: none;
  border: solid 1px #B2B2B2 !important;
  margin-top: 10px;
  -webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;

}

.comment-form input {
  display: block;
}

.comment-form label {
  padding-top: 10px;
  padding-bottom: 10px;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 12px;
}

.comment-respond {
  width: 85%;
  margin: 0px auto;
}

.comment-notes {
  text-align: center;
  letter-spacing: 5px;
  font-size: 10px;
  text-transform: uppercase;
  padding-top: 10px;
  padding-bottom: 10px;
}

.author-group input {
  width: 100%;
  height: 40px;
  border: solid 1px #B2B2B2 !important;
  padding: 10px;
  -webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
margin-top: 10px;
font-size: 14px;
font-family: Montserrat;
}

.form-group input {
  width: 100%;
  height: 40px;
  border: solid 1px #B2B2B2 !important;
  padding: 10px;
  -webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
margin-top: 10px;
font-size: 14px;
font-family: Montserrat;
}

.comment-form-cookies-consent input {
  display: inline;
  margin-right: 10px;
  height: 15px;
  width: 15px;
}

.comment-form-cookies-consent label {
  display: inline;
}

.comment-form-cookies-consent {
  margin-top: 20px;
  margin-bottom: 10px;
}

.form-submit {
  width: 200px;
  margin: 0px auto;
  padding-top: 10px;
  padding-bottom: 50px;
}

.form-submit input {
  font-family: Montserrat;
  text-transform: uppercase;
  letter-spacing: 5px;
  text-align: center;
  padding: 10px 20px 10px 20px;
  transition-duration: 1s;
  border: none;
}

.logged-in-as {
  font-size: 10px;
  letter-spacing: 5px;
  text-align: center;
  text-transform: uppercase;
  padding-top: 10px;
}

.comment article {
  position: relative;
  left: 120px;
}

.comment {
  margin-bottom: 40px;

}

.comments li {
  list-style-type: none;
}

.comments {
  margin-top: 30px;
  margin-bottom: 30px;
}

.comment-author {
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 10px;
  padding-bottom: 3px;
}

.comment-body {
  width: calc(100% - 220px);
}

.comment-metadata  {
  text-transform: uppercase;
  font-size: 9px;
  letter-spacing: 3px;
  color: rgba(0,0,0,0.5);
}

.comment-metadata a {
  color: rgba(0,0,0,.5);
}

.comment-content {
  font-size: 12px;
  padding-top: 15px;
  padding-bottom: 15px;
  letter-spacing: 1px;
  line-height: 1.3em;

}

.comments .reply {
  width: 80px;
  padding-top: 5px;
  padding-bottom: 5px;
  letter-spacing: 4px;
  text-transform: uppercase;
  font-size: 10px;
  text-align: center;

}

.comments .parent article {
  margin-bottom: 30px;

}

.comments .children .depth-2 article  {
  position: relative;
  left: 180px;
  width: 100%;

}



.comment-reply-title small {
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
}

.comments img {
  border-radius: 50px;
  position: absolute;
  left: -60px;
  top: -5px;
}

.nav-whole-container {
  width: 100%;
  margin-top: 40px;
  padding-bottom: 40px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 11px;
}

.nav-previous-left {
  width: 50%;
  float: left;
  text-align: left;
  padding-top: 10px;
  padding-bottom: 10px;
}

.nav-next-right {
  width: 50%;
  float: right;
  text-align: right;
  padding-top: 10px;
  padding-bottom: 10px;
}

.nav-left-container {
  padding-left: 40px;
}

.nav-right-container {
  padding-right: 40px;
}






/*  page templates   */

.page-split-width-container {
  width: 100%;
  margin: 0px auto;
  max-width: 2000px;
  overflow: auto;
}

.page-background-color-container {
  width: 100%;
  overflow: auto;
}

.page-top-padding {
  height: 50px;
  width: 100%;
}

.page-fullwidth-whole-container {
  width: 100%;
  overflow: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.page-fullwidth-featuredimage-container {
  display: inline;
  overflow: auto;
  width: 50%;
}

.page-fullwidth-content-container {
  display: inline;
  background-color: white;
  overflow: auto;
  min-height: 100px;
  width: 50%;
}

.page-split-title-container {
  width: 80%;
  margin: 0 auto;
  margin-top: 70px;
  font-size: 28px;
  padding-bottom: 25px;
  letter-spacing: 3px;
}

.page-split-meta-container {
  width: 80%;
  margin: 0px auto;
  letter-spacing: 3px;
  color: rgba(0,0,0,0.5);
  font-size: 10px;
  text-transform: uppercase;
}

.page-split-content-container {
  width: 80%;
  margin: 0px auto;
  padding-top: 30px;
  padding-bottom: 70px;
}

.page-split-content-container p {
  padding-bottom: 20px;
  padding-top: 10px;
  font-size: 13px;
  letter-spacing: 1px;
  line-height: 1.5em;
}

.page-split-tags-container {
  width: 100%;
  height: 50px;

}

.page-split-comment-container {
  width: 80%;
  margin: 0px auto;
  margin-bottom: 50px;
}


.page-meta-container {
  width: 80%;
  margin: 0px auto;
  text-align: center;
  letter-spacing: 3px;
  color: rgba(0,0,0,0.5);
  font-size: 10px;
  text-transform: uppercase;
}

.page-meta-container-three {
  width: 80%;
  margin: 0px auto;
  text-align: center;
  letter-spacing: 3px;
  color: white;
  font-size: 10px;
  text-transform: uppercase;
}

.blog-content-width-container-nosidebar {
  width: 80%;
  margin: 0px auto;
  max-width: 1500px;

}

.blog-column-container-nosidebar {
  margin: 0px auto;
}

.blog-content-whole-container-nosidebar {
  width: 100%;
  overflow: auto;
  display: flex;

}

.page-nosidebar-comments {
  margin-bottom: 100px;
}




/*   search overlay    */
 .header-search-overlay-container {
   background-color: white;
  width: 100%;
  height: 0vh;
  position: fixed;
  z-index: 999;
  overflow: hidden;
  transition: all .5s ease-in-out;

}

 .is_active .header-search-overlay-container {
   height: 100vh!important;
   transition: all .5s ease-in-out;
 }


.search-overlay-close-icon {
  text-align: right;
  position: absolute;
  top: 17px;
  right: 33px;
}

.header-overlay-title-container {
  width: 50%;
  margin: 0px auto;
  text-align: center;
  font-size: 40px;
  padding-top: 30vh;
  letter-spacing: 5px;
}

.header-search-overlay-search-container {
  width: 50%;
  margin: 0px auto;
  padding-top: 30px;
}

.header-search-overlay-search-container input {
  width: 100%;
  margin: 30px auto;
  height: 60px;
  padding: 10px;
  -webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
font-size: 20px;
border: none;
border-bottom: 1px solid black;
letter-spacing: 1px;
}

.header-search-overlay-search-container input:focus {
  outline: none !important;

}





/*   search.php    */

.blog-search-results {
  width: 100%;
  margin-bottom: 25px;
}

.blog-search-text {
  width: 80%;
  margin: 0px auto;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-size: 10px;
  line-height: 1.5em;
}





/*  404.php   */

.oops-whole-container {
  background-color: white;
  margin-bottom: 50px;
}

.oops-title-container {
  width: 85%;
  margin: 0px auto;
  text-align: center;
  font-size: 110px;
  padding-top: 20px;

}

.oops-text-container {
  width: 90%;
  margin: 0px auto;
  text-align: center;
  font-size: 40px;
  padding-top: 10px;
}

.oops-paragraph-container {
  width: 85%;
  margin: 0px auto;
  text-align: center;
  font-size: 15px;
  padding-top: 20px;
  letter-spacing: 0.5px;
  line-height: 1.5em;
  padding-bottom: 40px;
}

.oops-search-container {
  width: 50%;
  margin: 0px auto;
  padding-top: 20px;
  padding-bottom: 80px;
}

.oops-search-container input {
  width: 100%;
  margin: 0px auto;
  height: 60px;
  padding: 10px;
  -webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
font-size: 20px;
border: none;
border: 1px solid #E8E8E8;
letter-spacing: 1px;
font-size: 15px;
}

.oops-search-container input:focus {
  outline: none !important;

}





/*   index-nocontent   */

.no-content-whole-container {
  background-color: white;

}

.nocontent-title-container {
  width: 85%;
  margin: 0px auto;
  text-align: center;
  font-size: 28px;
  padding-top: 40px;
  letter-spacing: 3px;
}

.nocontent-description-container {
  width: 80%;
  margin: 0px auto;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 50px;
  letter-spacing: 0.5px;
  font-size: 14px;
  line-height: 1.5em;

}

.nocontent-search-container {
  background-color: white;
}

.nocontent-search-title {
  width: 85%;
  margin: 0px auto;
  text-align: center;
  font-size: 28px;
  padding-top: 40px;
  letter-spacing: 3px;

}

.nocontent-description-container {
  width: 80%;
  margin: 0px auto;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 50px;
  letter-spacing: 0.5px;
  font-size: 14px;
  line-height: 1.5em;

}




/*  archives   */


/*   search.php    */

.blog-archive-results {
  width: 100%;
  margin-bottom: 25px;
}

.blog-archive-text {
  width: 80%;
  margin: 0px auto;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-size: 10px;
  line-height: 1.5em;
}

#whole-body {
  overflow-x: hidden;
}






/* contact form */

.singlepost-content-container form input {
  width: 100%;
  height: 40px;
}


.singlepost-content-container textarea {
  width: 100%;
}

.singlepost-content-container form {
  width: 80%;
  margin: 40px auto;

}

.singlepost-content-container input {
  height: 40px;
  padding: 10px;
  -webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
font-size: 20px;
border: none;
border: 1px solid #E8E8E8;
letter-spacing: 1px;
font-size: 14px;
font-family: Montserrat;
}

.singlepost-content-container input:focus {
  outline: none !important;
}

.singlepost-content-container textarea:focus {
  outline: none !important;
}

.singlepost-content-container textarea {
  padding: 10px;
  -webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
font-size: 20px;
border: none;
border: 1px solid #E8E8E8;
letter-spacing: 1px;
font-size: 14px;
font-family: Montserrat;
}

.wpcf7-response-output {
  font-size: 12px;
  border: none!important;
  text-align: center;
}



.page form input {
  width: 100%;
  height: 40px;
}


.page textarea {
  width: 100%;
}

.page form {
  width: 80%;
  margin: 40px auto;

}

.page input {
  height: 40px;
  padding: 10px;
  -webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
font-size: 20px;
border: none;
border: 1px solid #E8E8E8;
letter-spacing: 1px;
font-size: 14px;
font-family: Montserrat;
}

.page input:focus {
  outline: none !important;
}

.page textarea:focus {
  outline: none !important;
}

.page textarea {
  padding: 10px;
  -webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
font-size: 20px;
border: none;
border: 1px solid #E8E8E8;
letter-spacing: 1px;
font-size: 14px;
font-family: Montserrat;
}



.trek-widget-width-container form input {
  width: 100%;
  height: 40px;
  margin-bottom: 10px;
}


.trek-widget-width-container textarea {
  width: 100%;
  margin-bottom: 10px;
}

.trek-widget-width-container form {
  width: 80%;
  margin: 20px auto;
  padding-bottom: 30px;

}

.trek-widget-width-container input {
  height: 40px;
  padding: 10px;
  -webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
font-size: 20px;
border: none;
border: 1px solid #E8E8E8;
letter-spacing: 1px;
font-size: 14px;
font-family: Montserrat;
}

.trek-widget-width-container input:focus {
  outline: none !important;
}

.trek-widget-width-container textarea:focus {
  outline: none !important;
}

.trek-widget-width-container textarea {
  padding: 10px;
  -webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
font-size: 20px;
border: none;
border: 1px solid #E8E8E8;
letter-spacing: 1px;
font-size: 14px;
font-family: Montserrat;
}







/*   css for ipad   */

@media screen and (max-width: 1130px) {

  .largescreen-menu {
    display: none;
  }



  .menuleft-socialmedia-container {
    width: 80%!important;
    float: right!important;
  }

  .smallscreen-burger-icon i {
    font-size: 18px;
    padding-top: 15px;
    padding-left: 10px;
  }

  .vid {
    transform: scale(2.5);
  }

  .fixedposition {
    position: fixed;
  }

  .smallscreenmenu {
    width: 330px;
    height: 100vh;
    position: absolute;
    top: 0;
    left: -330px;
    transition: all .3s ease-in-out;
    overflow-y: scroll;
  -webkit-overflow-scrolling:touch;


  }

  .smallscreenmenuoverflow {
    overflow: auto;
  }

  .smallscreenmenu i {
    position: absolute;
    right: 15px;
    font-size: 18px;
  }

  .smallmenuisopen {
    position: absolute;
    left: 0!important;
    top: 0!important;
    transition: all .3s ease-in-out;
  }


  .smallmenutitle {
    height: 31px;
    text-align: center;
    width: 90%;
    margin: 0px auto;
    text-transform: uppercase;
    letter-spacing:4px;
    font-size: 14px;
    padding-top: 20px;


  }

  .smallscreenmenu li {
    text-align: left;
    list-style-type: none;
    padding-top: 15px;
    padding-bottom: 15px;
    letter-spacing: 8px;
    font-size: 11px;
  }




  .smallmenuprimary {
    padding-top: 20px;
    text-transform: uppercase;
    padding-bottom: 50px;
    width: 90%;
    margin: 0px auto;

  }



  .smallmenuclose {
    position: absolute;
    text-align: center;
    bottom: 30px;
    width: 100%;
    text-transform: uppercase;
    letter-spacing:4px;
    font-size: 11px;
  }

  .secondary-categories-whole-container ul {
    display: none;
  }

  .blog-column-container {
    width: 80%!important;
    margin: 0px auto!important;
  }

  .blog-sidebar-width-container {
    width: 100%!important;
  }

  .blog-sidebar-container {
    width: 65%!important;
    margin: 0px auto!important;
  }

  .homepage-title-container h1 {
    font-size: 85px!important;
  }

  .featuredpost-homepage-title-container h1 {
    font-size: 75px!important;
  }

  .featuredpost-title-container h1 {
    font-size: 60px!important;
  }

  .widepostlayout-title-container  {
    font-size: 24px;
  }

  .gridpostlayout-title-container {
    font-size: 24px;
  }

  .imagepostlayout-title-container {
    font-size: 24px;
  }

  .singlepost1-title-container {
    font-size: 24px;
  }

  .singlepost2-title-container {
    font-size: 24px;
  }

  .singlepost3-title-container {
    font-size: 24px;
  }

  .menuleft-menu-container {
    width: 20%;
  }

  .header-wrap {
    display: none;
  }

  .smallscreen-burger-icon {
    width: 20%;
    float: left;
    list-style-type: none;

  }

  .smallscreen-burger-icon i {
    padding-left: 20px;

  }

  .smallscreen-socialmedia-search {
    width: 80%;
    float: right;
    text-align: right;
  }

  .smallscreen-socialmedia-search li {
    display: inline;
    text-align: right;
    padding-left: 3px;
    padding-right: 3px;
  }

  .smallscreen-socialmedia-search ul {
    padding-right: 20px;
    padding-top: 14px;
  }

  .bypostauthor {
  color: inherit;
}

.gallery-caption {
  margin: 0;
}

.header-overlay-title-container h1 {
  color: black;
}


.search-overlay-close-icon i {
  color: black!important;
}












}

/*  slightly smaller than ipad  */
@media screen and (max-width: 950px ) {
  .gridpostlayout-information-container {
    width: 100%!important;

  }

  .gridpostlayout-featuredimage-container {
    width: 100%!important;
    height: 300px;
  }
}




/* css needed for large screens only */

@media screen and (min-width: 1131px ) {
  .smallscreen-burger-icon {
    display: none;
  }

  .vid {
    transform: scale(1.7);
  }

  .smallscreenmenu {
    display: none;
  }

  .blog-content-whole-container {
    display: flex;
  }

  .blog-content-width-container {
    width: 70%;
    order: 2;
  }

  .blog-sidebar-container {
    max-width: 400px;
  }

  .menuleft-menu-container {
    width: 60%;
  }

  .smallscreenheader {
    display: none;
  }


}



@media screen and ( max-width: 500px ) {


  .featuredpost-title-container h1  {
    font-size: 45px!important;
  }

  .widepostlayout-meta-container {
    font-size: 9px!important;
    line-height: 1.75em;
  }

  .blog-content-top-padding {
    height: 20px;
  }

  .blog-column-container {
    width: 90%!important;
  }

  .widepostlayout-title-container {
    width: 90%!important;
    padding-bottom: 0px!important;
  }

  .singlepost3-padding {
    padding-top: 70px!important;
    padding-bottom: 70px!important;
  }

  .singlepost1layout-meta-container {
    width: 90%;
    margin: 0px auto;
    font-size: 9px;
    line-height: 1.75em;
  }

  .singlepost-avatar-container {
    width: 100%;
  }

  .singlepost-info-container {
    width: 90%;
  }

  .singlepost-author-title-container {
    margin-top: 10px!important;
  }

  .comment-body {
    width: calc(100% - 110px);

  }

  .comment article {
    position: relative;
    left: 80px!important;
  }

  .comment .children article {
    width: calc(100% - 140px)!important;
    position: relative;
    left: 130px!important;
  }



  .footer-text-container {
    padding-top: 20px!important;
    padding-bottom: 20px!important;
    line-height: 1.5em;
  }

  .vid {
    transform: scale(4);
  }

  .homepage-title-container h1 {
    width: 90%;
    font-size: 75px!important;
  }

  .homepage-description-container p {
    font-size: 16px;

  }

  .header-overlay-title-container {
    width: 80%;
  }

  .header-overlay-title-container h1 {
    font-size: 60px;
  }

  .header-search-overlay-search-container  {
    width: 80%;
  }

  .header-search-overlay-search-container input  {
    font-size: 20px!important;
  }

  .widepostlayout-content-container {
    font-size: 12px;
    text-align: center;
  }

  .singlepost-content-container p {
    font-size: 12px;
  }

  .singlepost-content-container h2 {
    font-size: 20px;
  }

  .singlepost-content-container h3 {
    font-size: 16px;
  }

  .singlepost-content-container h4 {
    font-size: 14px;
  }

  .wp-block-cover p {
    font-size: 25px!important;
  }

  .singlepost-content-container ul {
    font-size: 12px;
  }

  .singlepost-content-container li {
    font-size: 12px;
  }

  .singlepost-content-container ol {
    font-size: 12px;
  }

  .wp-block-code {
    width: 85%;
  }

  .wp-block-verse {
    width: 85%;
  }

  .wp-block-preformatted {
    width: 85%;
  }

  .wp-block-table tr {
    font-size: 13px;
  }

  .gridpostlayout-information-container {
    text-align: center;
    width: 95%!important;
    margin: 0px auto;
    order: 2!important;
  }

  .gridpostlayout-title-container {
    text-align: center;
  }

  .gridpostlayout-excerpt-container {
    font-size: 12px;
  }

  .imagepost-padding {
    padding-top: 80px!important;
    padding-bottom: 80px!important;
  }

  .imagepostlayout-meta-container {
    width: 90%;
    margin: 0px auto;
  }

  .imagepost-excerpt-container p {
    font-size: 12px!important;
  }

  .singlepost2-featuredimage-container {
    height: 300px!important;
  }

  .page-fullwidth-featuredimage-container {
    width: 100%;
    height: 300px
  }

  .page-fullwidth-content-container {
    width: 100%;
  }

  .featuredpost-homepage-title-container h1  {
    font-size: 55px!important;

  }

  .featuredpost-homepage-title-container {
    width: 95%!important;
  }

  .featuredpost-description-container p {
    font-size: 11px!important;
  }




}

@media screen and ( min-width: 500px ) {

.comments .children .comment-body {
 width: calc(100% - 220px)!important;
}

}
